{% assign product_weight = current_variant.unit_price_measurement.quantity_value %}
{%- unless product_weight == null -%}
  <div class="product-block" {{ block.shopify_attributes }}>
    <div class="product__weight">
      {% if request.locale.iso_code == 'de' %}
        <span>{{ 'products.product.content_quantity' | t }}:</span>
      {% endif %}
      <span class="product__weight-number">{{ product_weight }} {{ current_variant.unit_price_measurement.quantity_unit }}</span>
    </div>
  </div>
{%- endunless -%}

<script type="text/javascript">

  (function() {
    document.addEventListener('variant:change', function(evt) {
      const variant = evt.detail.variant;

      const weightNumber = document.querySelector(".product-block .product__weight .product__weight-number");
      if (weightNumber) {
        weightNumber.innerText = variant.unit_price_measurement.quantity_value + " " + variant.unit_price_measurement.quantity_unit;
      }
    });
  })();
</script>