
button.btn.grid-item_add-to-cart {
    margin-top: 15px;
    background-color: #008602 !important;
    width: 100%;
}

button.btn.btn--full.add-to-cart {
    background: #008602;
}

.product-recommendations-placeholder .upside-ucd-cart-form {
    display: none;
}
.site-nav__item .icon-chevron-down {
    display: none;
}

.grid-product__meta {
    min-height: 140px;
}


.grid-product__price {
    font-size: calc(var(--typeBaseSize)*1.05);
}


.grid-product__link:after {
    bottom: 70px;
}



.icon--inventory:after, .icon--inventory:before{
    background: #f4af29;
}

.icon--inventory+span{
    color: #f4af29;
}


.product-block .product__price {
    font-size: calc(var(--typeBaseSize) + 8px);
}

.ssw-widget-avg-rate-listing {
    color: #F7b604;
}

.grid-product__content .rc_container_wrapper{
    display: none !important;
}
label.variant_label_image {
    padding: 0;
}
.variant-input-wrap input[type=radio]:checked+label {
    box-shadow: 0 0 0 3px var(--colorVariantBorder);
}

.bundle-products {
    padding: 40px 0;
    text-align: center;
  }
  .bundle-products__title {
    font-size: calc(var(--typeHeaderSize)*.85);
    letter-spacing: 2px;
    margin-bottom: 25px;
  }
  .bundle-products__mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 10px;

    @media (min-width: 768px) {
      display: none;
    }
  }

  .bundle-products__mobile .bundle-products__mobile__item-figure:first-child::before {
    display: none;
  }

  .bundle-products__mobile__item-figure { 
    margin: 0;
    position: relative;
  }

  .bundle-products__mobile__item-figure::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
    content: '+';
    font-size: 40px;
    line-height: 1em;
    width: 20px;
    text-align: center;
    color: grey;
  }

  .bundle-products__mobile .bundle-products__mobile__toggler {
    background-color: var(--colorDrawerButton);
    grid-column: 1/-1;
    margin-top: 12px;
  }

  .bundle-products__form {
    border: 1px dashed #ececec; 
    padding: 10px;
    border-radius: 10px;
  }
  @media (max-width: 767px) {
    .bundle-products__form {
      background-color: #ffffff;
      max-height: 80vh;
      border: none; 
      padding: 0 10px;
      z-index: 111;
      border-radius: 0;
      // overflow-y: auto;
      transform: translateY(50%);
      transition: all 0.3s ease;
    }
  }
  @media (min-width: 1100px) {
    .bundle-products__form {
      display: grid;
      grid-template-columns: 1fr 320px;
      grid-gap: 24px;
      padding: 24px;
    }
  }

  .bundle-products__form--wrapper.m-visible {
    opacity: 1;
  }
  .bundle-products__form--wrapper.m-visible .bundle-products__form {
    transform: translateY(0);
  }
  .bundle-products__form--wrapper {
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 111;
    opacity: 0;
    transition: all 0.3s ease;

    @media (min-width: 768px) {
      display: contents;
    }
  }

  .bundle-products__form--wrapper::after {
    position: absolute;
    top: 20vh;
    margin-top: -60px;
    right: 10px;
    content: '\00D7';
    font-size: 48px;
    line-height: 1em;
    width: 48px;
    text-align: center;
    color: white;
  }
  
  .bundle-products__list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  
  @media (min-width: 768px) {
    .bundle-products__list {
      grid-gap: 40px;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 767px) {
    .bundle-products__list {
      max-height: calc(80vh - 120px);
      overflow: auto;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .bundle-products__item-checkbox {
    clip: rect(0 0 0 0);
    opacity: 0;
    height: 1px;
    width: 1px;
    padding: 0;
    line-height: 0;
    margin: 0;
    border: none;
    font-size: 0;
    position: absolute;
    visibility: hidden;
  }
  .bundle-products__item {
    position: relative;
    box-sizing: border-box;
    text-align: center;

    @media (max-width: 767px) {
        padding: 10px;
        text-align: left;
    }
  }
  .bundle-products__item::after {
    position: absolute;
    right: -33px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;
    color: grey;
  }
  @media (min-width: 767px) {
    .bundle-products__item::after {
      content: "+";
    }
  }

  .bundle-products__item-inner {
    
  }

  @media (min-width: 767px) {

  }
  @media (min-width: 1100px) {
    .bundle-products .bundle-products__item:nth-child(2n)::after {
      display: block;
    }
  }
  .bundle-products .bundle-products__item:last-child::after {
    display: none;
  }
  .bundle-products .bundle-products__item-checkbox:checked + .bundle-products__label::after {
    background-color: var(--colorVariantBorder);
    border-color: var(--colorVariantBorder);
    background-image: url("data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 24 24\" width=\"24px\" height=\"24px\"><path fill=\"%23ffffff\" d=\"M 20.980469 6.0039062 A 1.0001 1.0001 0 0 0 20.292969 6.3066406 L 9.0136719 17.585938 L 3.7070312 12.292969 A 1.0001 1.0001 0 1 0 2.2929688 13.707031 L 8.3085938 19.707031 A 1.0001 1.0001 0 0 0 9.7207031 19.707031 L 21.707031 7.7207031 A 1.0001 1.0001 0 0 0 20.980469 6.0039062 z\"/></svg>");
  }
  .bundle-products__label {
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    height: 100%;
    margin-bottom: 0;
  }
  .bundle-products__label {
    @media (max-width: 767px) {
      padding-left: 120px;
      min-height: 110px;
    }
  }
  .bundle-products__label::after {
    content: "";
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: 2px solid transparent;
    transition: all 0.3s;
  }
  .bundle-products__item-img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;

    @media (max-width: 767px) {
      width: 110px;
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .bundle-products__item-title {
    color: var(--colorTextBody);
    font-size: calc(var(--typeBaseSize) - 2px);
    letter-spacing: .2em;
    text-transform: uppercase;
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    line-height: var(--typeBaselineHeightMinus01);
    padding: 12px 0 0;
    margin: 0;
    word-break: break-word;

    @media (min-width: 768px) {
      flex-grow: 1;
    }
  }
  .bundle-products__item-price {
    color: var(--colorPrice);
    font-size: calc(var(--typeBaseSize)*1.05);
    letter-spacing: 1px;
    margin-top: 10px;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }
  
  .bundle-products__item-price {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;

    @media (max-width: 767px) {
      justify-content: flex-start;
    }
  }

  .bundle-products__item-price::after {
    content: attr(data-compare-price);
    display: none;
  }

  .bundle-products__item-price[data-compare-price]:not([data-compare-price=""]) .original-price {
    text-decoration: line-through;
  }

  .bundle-products__item-price[data-compare-price]:not([data-compare-price=""])::after {
    display: inline-flex;
    text-decoration: none;
  }

  .bundle-products__item-price u {
    text-decoration: line-through;
    font-weight: 300;
    color: grey;
  }
  .bundle-products__price {
    display: flex;
    flex-direction: column;
  }
  @media (max-width: 1100px) {
    .bundle-products__price {
      align-self: flex-start;
      position: -webkit-sticky;
      position: sticky;
      top: 90px;
      padding-top: 26px;
      border-top: 1px dashed var(--colorBorder);
    }
  }
  @media (min-width: 1100px) {
    .bundle-products__price {
      position: static;
      justify-content: center;
      padding-left: 24px;
      border-left: 1px dashed var(--colorBorder);
    }
  }
  @media (max-width: 767px) {
    .bundle-products__price {
      padding: 5px 10px 20px;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin: 0 -10px;
    }
  }
  .bundle-products__price-header {
    text-align: right;
  }
  .bundle-products__price-label {
    border: 1px dashed #008602;
    background-color: #deece1;
    border-radius: 10px;
    padding: 5px;
  }

  .bundle-products__price-saved {
    font-weight: bold;
  }

  .bundle-products__price-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px 0;
  }

.bundle-products__price-footer {
    @media (max-width: 767px) {
      gap: 10px;
      padding: 10px 0;
    }
}

.bundle-products__price-name {
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

  .bundle-products__price-old {
    color: grey;
    font-weight: 300;
    font-size: calc(var(--typeBaseSize)*1.1);
    text-decoration: line-through;
  }
  .bundle-products__price-actual {
    font-size: calc(var(--typeBaseSize)*1.4);
    color: #008602;
    font-weight: bold;
  }